<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head profile="http://gmpg.org/xfn/11">
        <title>{% block title %}{% endblock %} - Iowa Code Camp</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link rel="stylesheet" type="text/css" href="/static/style/style.css" media="screen" />
        <link rel="alternate" type="application/rss+xml" title="Iowa Code Camp Feed" href="/feed/" />
    </head>
    <body>
        <div id="wrapper">
            {% block page-title %}
            {% endblock %}
            <div id="navigation">
                {% block navigation %}
                    <ul>
                        <li>{% block nav-home %}<a href="{% url home %}">Home</a>{% endblock %}</li>
                        <li>{% block nav-sessions %}<a href="{% url sessions %}">Sessions</a>{% endblock %}</li>
                        <li>{% block nav-speakers %}<a href="{% url speakers %}">Speakers</a>{% endblock %}</li>
                        <li>{% block nav-schedule %}<a href="{% url schedule %}">Schedule</a>{% endblock %}</li>
                        <li>{% block nav-about %}<a href="{% url about %}">About</a>{% endblock %}</li>
                        <li>{% block nav-contact %}<a href="{% url contact %}">Contact</a>{% endblock %}</li>
                    </ul>
                {% endblock %}
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>