{% extends "layout.html" %}
{% block title %}Sessions{% endblock %}
{% block nav-sessions%}<strong class="nav-active">Sessions</strong>{% endblock %}

{% block page-title %}
    <h1>{{ event }}</h1>
{% endblock %}

{% block body %}
  <h2>The Sessions</h2>
  <dl>
  {% for session in sessions %}
    <dt><a href="{% url session_detail session.id, session.slug %}">{{ session.title }}</a> by
        <a href="{% url speaker_detail session.speaker.id, session.speaker.slug %}">{{ session.speaker }}</a></dt>
    <dd>{{ session.desc }}</dd>
  {% endfor %}
  </dl>
{% endblock %}