{% extends "layout.html" %}
{% block title %}Sponsors{% endblock %}
{% block nav-sponsors %}<strong class="nav-active">Sponsors</strong>{% endblock %}

{% block page-title %}
    <h1>Sponsors of {{ event }}</h1>
{% endblock %}

{% block body %}
    <p>We couldn't host these great events without our fantastic sponsors.</p>
    <ul>
    {% comment %}
    TODO: Sponsors are going to be organized from high to low, this needs to be added...
    {% endcomment %}
    {% for sponsor in sponsors.filter %}
        {% ifchanged %}<h3>{{ sponsor.get_level_display }}</h3>{% endifchanged %}
        <div class="sponsor">
            <a href="{{ sponsor.link }}">{{ sponsor }}</a>
        </div>
    {% empty %}
        <p>We are currently looking for sponsors. <a href="/contact">Contact us</a> to help us out by sponsoring!</p>
    {% endfor %}
    </ul>
{% endblock %}