{% extends "layout.html" %}
{% block title %}Submit a Session{% endblock %}

{% block page-title %}
    <h1>Submit a Session</h1>
{% endblock %}

{% block body %}
    <form method="post" action="/submit/">
        {% csrf_token %}
        <table cellpadding="3" cellspacing="1" border="0">
            {{ speaker_formset }}
        </table>
        <hr/>
        <table cellpadding="3" cellspacing="1" border="0">
            {{ session_formset }}
        </table>
    </form>
{% endblock %}